ApocalypseNow2018 3.0

FIXED







land
   000000000011111111112222222222333333333344444444445555555555
   012345678901234567890123456789012345678901234567890123456789

00 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
01 X:::::...............::::::::..::::::::...............:::::X
02 X::::::..OOOOOO.....:::::::::..:::::::::.....OOOOOO..::::::X
03 X.::::...OOOOOOOO...::::::::....::::::::...OOOOOOOO...::::.X
04 X.::::.OOOOOOOOOOOO.::::::::....::::::::.OOOOOOOOOOOO.::::.X
05 X.::::.OOOOOO.....O..:::::::....:::::::..O.....OOOOOO.::::.X
06 X:::::.OOOOOO.:::.OO.:::::::....:::::::.OO.:::.OOOOOO.:::::X
07 X:::::.....OO.:...OO.::::::......::::::.OO...:.OO.....:::::X
08 X::::::.OO.OO.:.OOO..:::::........:::::..OOO.:.OO.OO.::::::X
09 X::::::.OOOOO.:.OOO.::::::........::::::.OOO.:.OOOOO.::::::X
10 X::::::.OOOO........::::::........::::::........OOOO.::::::X
11 X::::::.OOO..XXXX...:::::..........:::::...XXXX..OOO.::::::X
12 X::::::.....XX..XXX.::................::.XXX..XX.....::::::X
13 X:::::::::.XX.....X.::.OOO..OOOO..OOO.::.X.....XX.:::::::::X
14 X:::::::::.X..OO.XX.::.OOOOOO..OOOOOO.::.XX.OO..X.:::::::::X
15 X:::::::::.X.OO..X..:..OOOO......OOOO..:..X..OO.X.:::::::::X
16 X.::::::::...O........OOOOO......OOOOO........O...::::::::.X
17 X.:::::::::..OO.OO..OOOOOOO......OOOOOOO..OO.OO..:::::::::.X
18 X.::::::::...OOOOOO.OOOOO..........OOOOO.OOOOOO...::::::::.X
19 X..:::::::...OOO..OOOOOO............OOOOOO..OOO...:::::::..X
20 X..::::::::...OO............................OO...::::::::..X
21 X...:::::::::....OOOOOOOOO........OOOOOOOOO....:::::::::...X
22 X...::::::::::::.........OOOO..OOOO.........::::::::::::...X
23 X....:::::::::::::::::::.OOOO..OOOO.:::::::::::::::::::....X
24 X....:::::::::::::::::::.OOOO..OOOO.:::::::::::::::::::....X
25 X....:::::::::::::::::::.OOO....OOO.:::::::::::::::::::....X
26 X.....::::::::::::::::::.OOOO..OOOO.::::::::::::::::::.....X
27 X......:::::::::::::::::..OOO..OOO..:::::::::::::::::......X
28 X.........................OOO..OOO.........................X
29 X.........................OOOOOOOO.........................X
30 X.........................OOOOOOOO.........................X
31 X.........................OOO..OOO.........................X
32 X......:::::::::::::::::..OOO..OOO..:::::::::::::::::......X
33 X.....::::::::::::::::::.OOOO..OOOO.::::::::::::::::::.....X
34 X....:::::::::::::::::::.OOO....OOO.:::::::::::::::::::....X
35 X....:::::::::::::::::::.OOOO..OOOO.:::::::::::::::::::....X
36 X....:::::::::::::::::::.OOOO..OOOO.:::::::::::::::::::....X
37 X...::::::::::::.........OOOO..OOOO.........::::::::::::...X
38 X...:::::::::....OOOOOOOOO........OOOOOOOOO....:::::::::...X
39 X..::::::::...OO............................OO...::::::::..X
40 X..:::::::...OOO..OOOOOO............OOOOOO..OOO...:::::::..X
41 X.::::::::...OOOOOO.OOOOO..........OOOOO.OOOOOO...::::::::.X
42 X.:::::::::..OO.OO..OOOOOOO......OOOOOOO..OO.OO..:::::::::.X
43 X.::::::::...O........OOOOO......OOOOO........O...::::::::.X
44 X:::::::::.X.OO..X..:..OOOO......OOOO..:..X..OO.X.:::::::::X
45 X:::::::::.X..OO.XX.::.OOOOOO..OOOOOO.::.XX.OO..X.:::::::::X
46 X:::::::::.XX.....X.::.OOO..OOOO..OOO.::.X.....XX.:::::::::X
47 X::::::.....XX..XXX.::................::.XXX..XX.....::::::X
48 X::::::.OOO..XXXX...:::::..........:::::...XXXX..OOO.::::::X
49 X::::::.OOOO........::::::........::::::........OOOO.::::::X
50 X::::::.OOOOO.:.OOO.::::::........::::::.OOO.:.OOOOO.::::::X
51 X::::::.OO.OO.:.OOO..:::::........:::::..OOO.:.OO.OO.::::::X
52 X:::::.....OO.:...OO.::::::......::::::.OO...:.OO.....:::::X
53 X:::::.OOOOOO.:::.OO.:::::::....:::::::.OO.:::.OOOOOO.:::::X
54 X.::::.OOOOOO.....O..:::::::....:::::::..O.....OOOOOO.::::.X
55 X.::::.OOOOOOOOOOOO.::::::::....::::::::.OOOOOOOOOOOO.::::.X
56 X.::::...OOOOOOOO...::::::::....::::::::...OOOOOOOO...::::.X
57 X::::::..OOOOOO.....:::::::::..:::::::::.....OOOOOO..::::::X
58 X:::::...............::::::::..::::::::...............:::::X
59 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

posts
player	i	j	value
-1	13	9	100
-1	13	50	100
-1	46	50	100
-1	46	9	100
-1	19	3	100
-1	19	56	100
-1	40	56	100
-1	40	3	100
-1	22	11	50
-1	22	48	50
-1	37	48	50
-1	37	11	50
-1	3	20	50
-1	3	39	50
-1	56	39	50
-1	56	20	50







units
id	type	player	i	j	life	ori	napalm	parachuters	
1	2	0	5	15	-1	0	30		0
2	2	0	15	5	-1	1	30		0
3	2	1	5	44	-1	0	30		0
4	2	1	15	54	-1	3	30		0
5	2	2	54	44	-1	2	30		0
6	2	2	44	54	-1	3	30		0
7	2	3	54	15	-1	2	30		0
8	2	3	44	5	-1	1	30		0
9	1	0	27	22	100	-1	-1		0
10	1	1	27	37	100	-1	-1		0
11	1	2	32	37	100	-1	-1		0
12	1	3	32	22	100	-1	-1		0
13	1	0	26	12	100	-1	-1		0
14	1	1	26	47	100	-1	-1		0
15	1	2	33	47	100	-1	-1		0
16	1	3	33	12	100	-1	-1		0
17	1	0	13	20	100	-1	-1		0
18	1	1	13	39	100	-1	-1		0
19	1	2	46	39	100	-1	-1		0
20	1	3	46	20	100	-1	-1		0
21	1	0	23	5	100	-1	-1		0
22	1	1	23	54	100	-1	-1		0
23	1	2	36	54	100	-1	-1		0
24	1	3	36	5	100	-1	-1		0
25	1	0	9	23	100	-1	-1		0
26	1	1	9	36	100	-1	-1		0
27	1	2	50	36	100	-1	-1		0
28	1	3	50	23	100	-1	-1		0
29	1	0	23	21	100	-1	-1		0
30	1	1	23	38	100	-1	-1		0
31	1	2	36	38	100	-1	-1		0
32	1	3	36	21	100	-1	-1		0
33	1	0	6	23	100	-1	-1		0
34	1	1	6	36	100	-1	-1		0
35	1	2	53	36	100	-1	-1		0
36	1	3	53	23	100	-1	-1		0
37	1	0	7	4	100	-1	-1		0
38	1	1	7	55	100	-1	-1		0
39	1	2	52	55	100	-1	-1		0
40	1	3	52	4	100	-1	-1		0
41	1	0	23	14	100	-1	-1		0
42	1	1	23	45	100	-1	-1		0
43	1	2	36	45	100	-1	-1		0
44	1	3	36	14	100	-1	-1		0
45	1	0	18	7	100	-1	-1		0
46	1	1	18	52	100	-1	-1		0
47	1	2	41	52	100	-1	-1		0
48	1	3	41	7	100	-1	-1		0
49	1	0	3	5	100	-1	-1		0
50	1	1	3	54	100	-1	-1		0
51	1	2	56	54	100	-1	-1		0
52	1	3	56	5	100	-1	-1		0
53	1	0	9	26	100	-1	-1		0
54	1	1	9	33	100	-1	-1		0
55	1	2	50	33	100	-1	-1		0
56	1	3	50	26	100	-1	-1		0
57	1	0	16	3	100	-1	-1		0
58	1	1	16	56	100	-1	-1		0
59	1	2	43	56	100	-1	-1		0
60	1	3	43	3	100	-1	-1		0
61	1	0	24	17	100	-1	-1		0
62	1	1	24	42	100	-1	-1		0
63	1	2	35	42	100	-1	-1		0
64	1	3	35	17	100	-1	-1		0
65	1	0	27	6	100	-1	-1		0
66	1	1	27	53	100	-1	-1		0
67	1	2	32	53	100	-1	-1		0
68	1	3	32	6	100	-1	-1		0
69	1	0	11	3	100	-1	-1		0
70	1	1	11	56	100	-1	-1		0
71	1	2	48	56	100	-1	-1		0
72	1	3	48	3	100	-1	-1		0
73	1	0	25	9	100	-1	-1		0
74	1	1	25	50	100	-1	-1		0
75	1	2	34	50	100	-1	-1		0
76	1	3	34	9	100	-1	-1		0
77	1	0	27	3	100	-1	-1		0
78	1	1	27	56	100	-1	-1		0
79	1	2	32	56	100	-1	-1		0
80	1	3	32	3	100	-1	-1		0
81	1	0	2	2	100	-1	-1		0
82	1	1	2	57	100	-1	-1		0
83	1	2	57	57	100	-1	-1		0
84	1	3	57	2	100	-1	-1		0
85	1	0	6	26	100	-1	-1		0
86	1	1	6	33	100	-1	-1		0
87	1	2	53	33	100	-1	-1		0
88	1	3	53	26	100	-1	-1		0
-1

fire
rounds	i	j
-1


