ApocalypseNow2018 3.0

FIXED







land
   000000000011111111112222222222333333333344444444445555555555
   012345678901234567890123456789012345678901234567890123456789

00 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
01 X......::::........::::..............::::........::::......X
02 X....:::::::::...:::::::............:::::::...:::::::::....X
03 X....:::::::::::::::::::..::....::..:::::::::::::::::::....X
04 X...::::::::::::::::::::::::....::::::::::::::::::::::::...X
05 X...::::::::::::::::::::::::::::::::::::::::::::::::::::...X
06 X...::::::::::::::::::::::::::::::::::::::::::::::::::::...X
07 X...::::::::::::::::::::::::....::::::::::::::::::::::::...X
08 X..:::::::::::::::::::::::::....:::::::::::::::::::::::::..X
09 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
10 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
11 X..:::::::::::::::::::::::::....:::::::::::::::::::::::::..X
12 X..:::::::::::::::::::::::::....:::::::::::::::::::::::::..X
13 X..:::::::::::::::::::::::::....:::::::::::::::::::::::::..X
14 X..:::::::::::::::::::::::::....:::::::::::::::::::::::::..X
15 X...::::::::::::::::::::::::....::::::::::::::::::::::::...X
16 X...::::::::::::::::::::::::....::::::::::::::::::::::::...X
17 X..:::::::::::::::::::::::::....:::::::::::::::::::::::::..X
18 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
19 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
20 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
21 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
22 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
23 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
24 X:::::::::::::::::..::::::::....::::::::..:::::::::::::::::X
25 X::::::::::::::::....::::::......::::::....::::::::::::::::X
26 X:::::::::::::................................:::::::::::::X
27 X.::::::::::::................................::::::::::::.X
28 X.......:::::..................................:::::.......X
29 X.......::::::................................::::::.......X
30 X.......::::::................................::::::.......X
31 X.......:::::..................................:::::.......X
32 X.::::::::::::................................::::::::::::.X
33 X:::::::::::::................................:::::::::::::X
34 X::::::::::::::::....::::::......::::::....::::::::::::::::X
35 X:::::::::::::::::..::::::::....::::::::..:::::::::::::::::X
36 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
37 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
38 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
39 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
40 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
41 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
42 X..:::::::::::::::::::::::::....:::::::::::::::::::::::::..X
43 X...::::::::::::::::::::::::....::::::::::::::::::::::::...X
44 X...::::::::::::::::::::::::....::::::::::::::::::::::::...X
45 X..:::::::::::::::::::::::::....:::::::::::::::::::::::::..X
46 X..:::::::::::::::::::::::::....:::::::::::::::::::::::::..X
47 X..:::::::::::::::::::::::::....:::::::::::::::::::::::::..X
48 X..:::::::::::::::::::::::::....:::::::::::::::::::::::::..X
49 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
50 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
51 X..:::::::::::::::::::::::::....:::::::::::::::::::::::::..X
52 X...::::::::::::::::::::::::....::::::::::::::::::::::::...X
53 X...::::::::::::::::::::::::::::::::::::::::::::::::::::...X
54 X...::::::::::::::::::::::::::::::::::::::::::::::::::::...X
55 X...::::::::::::::::::::::::....::::::::::::::::::::::::...X
56 X....:::::::::::::::::::..::....::..:::::::::::::::::::....X
57 X....:::::::::...:::::::............:::::::...:::::::::....X
58 X......::::........::::..............::::........::::......X
59 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

posts
player	i	j	value
-1	6	22	100
-1	6	37	100
-1	53	37	100
-1	53	22	100
-1	14	22	100
-1	14	37	100
-1	45	37	100
-1	45	22	100
-1	9	6	50
-1	9	53	50
-1	50	53	50
-1	50	6	50
-1	19	24	50
-1	19	35	50
-1	40	35	50
-1	40	24	50







units
id	type	player	i	j	life	ori	napalm	parachuters	
1	2	0	5	15	-1	0	30		0
2	2	0	15	5	-1	1	30		0
3	2	1	5	44	-1	0	30		0
4	2	1	15	54	-1	3	30		0
5	2	2	54	44	-1	2	30		0
6	2	2	44	54	-1	3	30		0
7	2	3	54	15	-1	2	30		0
8	2	3	44	5	-1	1	30		0
9	1	0	7	25	100	-1	-1		0
10	1	1	7	34	100	-1	-1		0
11	1	2	52	34	100	-1	-1		0
12	1	3	52	25	100	-1	-1		0
13	1	0	4	18	100	-1	-1		0
14	1	1	4	41	100	-1	-1		0
15	1	2	55	41	100	-1	-1		0
16	1	3	55	18	100	-1	-1		0
17	1	0	17	27	100	-1	-1		0
18	1	1	17	32	100	-1	-1		0
19	1	2	42	32	100	-1	-1		0
20	1	3	42	27	100	-1	-1		0
21	1	0	12	13	100	-1	-1		0
22	1	1	12	46	100	-1	-1		0
23	1	2	47	46	100	-1	-1		0
24	1	3	47	13	100	-1	-1		0
25	1	0	26	14	100	-1	-1		0
26	1	1	26	45	100	-1	-1		0
27	1	2	33	45	100	-1	-1		0
28	1	3	33	14	100	-1	-1		0
29	1	0	3	12	100	-1	-1		0
30	1	1	3	47	100	-1	-1		0
31	1	2	56	47	100	-1	-1		0
32	1	3	56	12	100	-1	-1		0
33	1	0	14	16	100	-1	-1		0
34	1	1	14	43	100	-1	-1		0
35	1	2	45	43	100	-1	-1		0
36	1	3	45	16	100	-1	-1		0
37	1	0	16	7	100	-1	-1		0
38	1	1	16	52	100	-1	-1		0
39	1	2	43	52	100	-1	-1		0
40	1	3	43	7	100	-1	-1		0
41	1	0	23	25	100	-1	-1		0
42	1	1	23	34	100	-1	-1		0
43	1	2	36	34	100	-1	-1		0
44	1	3	36	25	100	-1	-1		0
45	1	0	2	22	100	-1	-1		0
46	1	1	2	37	100	-1	-1		0
47	1	2	57	37	100	-1	-1		0
48	1	3	57	22	100	-1	-1		0
49	1	0	18	20	100	-1	-1		0
50	1	1	18	39	100	-1	-1		0
51	1	2	41	39	100	-1	-1		0
52	1	3	41	20	100	-1	-1		0
53	1	0	5	6	100	-1	-1		0
54	1	1	5	53	100	-1	-1		0
55	1	2	54	53	100	-1	-1		0
56	1	3	54	6	100	-1	-1		0
57	1	0	12	3	100	-1	-1		0
58	1	1	12	56	100	-1	-1		0
59	1	2	47	56	100	-1	-1		0
60	1	3	47	3	100	-1	-1		0
61	1	0	25	3	100	-1	-1		0
62	1	1	25	56	100	-1	-1		0
63	1	2	34	56	100	-1	-1		0
64	1	3	34	3	100	-1	-1		0
65	1	0	6	3	100	-1	-1		0
66	1	1	6	56	100	-1	-1		0
67	1	2	53	56	100	-1	-1		0
68	1	3	53	3	100	-1	-1		0
69	1	0	27	9	100	-1	-1		0
70	1	1	27	50	100	-1	-1		0
71	1	2	32	50	100	-1	-1		0
72	1	3	32	9	100	-1	-1		0
73	1	0	7	13	100	-1	-1		0
74	1	1	7	46	100	-1	-1		0
75	1	2	52	46	100	-1	-1		0
76	1	3	52	13	100	-1	-1		0
77	1	0	20	8	100	-1	-1		0
78	1	1	20	51	100	-1	-1		0
79	1	2	39	51	100	-1	-1		0
80	1	3	39	8	100	-1	-1		0
81	1	0	23	11	100	-1	-1		0
82	1	1	23	48	100	-1	-1		0
83	1	2	36	48	100	-1	-1		0
84	1	3	36	11	100	-1	-1		0
85	1	0	10	25	100	-1	-1		0
86	1	1	10	34	100	-1	-1		0
87	1	2	49	34	100	-1	-1		0
88	1	3	49	25	100	-1	-1		0
-1

fire
rounds	i	j
-1


