ApocalypseNow2018 3.0

FIXED

land
   000000000011111111112222222222333333333344444444445555555555
   012345678901234567890123456789012345678901234567890123456789

00 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
01 X..........::.....::....................::.....::..........X
02 X...OOOOOO.:::::::::::::............:::::::::::::.OOOOOO...X
03 X.OOOOOOOO.:::::::::::::............:::::::::::::.OOOOOOOO.X
04 X.OOOOOOOO.::::::::......................::::::::.OOOOOOOO.X
05 X.OOOOO.OO.::::::::.OO....OO....OO....OO.::::::::.OO.OOOOO.X
06 X.OOOO..O..::::::::.OOOOOOOOOOOOOOOOOOOO.::::::::..O..OOOO.X
07 X.OOOO.OO.:::::::::.OOO..............OOO.:::::::::.OO.OOOO.X
08 X.OOOO....:::::::::.....::::::::::::.....:::::::::....OOOO.X
09 X.OO...:::::::::::::..O.....::::.....O..:::::::::::::...OO.X
10 X.OOOO.::::.....::::.OO.OOO.::::.OOO.OO.::::.....::::.OOOO.X
11 X.OOOO.::::.XXX..::..O..OOO......OOO..O..::..XXX.::::.OOOO.X
12 X...OO.:::..X.XX.::.OO...OOOOOOOOOO...OO.::.XX.X..:::.OO...X
13 X::....:::.XX..X..:.OOOO.OOOOOOOOOO.OOOO.:..X..XX.:::....::X
14 X:::::::::.X...XX...OOOO.OOOOOOOOOO.OOOO...XX...X.:::::::::X
15 X:::::::::.X....XX....OO....OOOO....OO....XX....X.:::::::::X
16 X:::::::::.XX.:.....O..O............O..O.....:.XX.:::::::::X
17 X:::::::::..X.:..OOOO..O............O..OOOO..:.X..:::::::::X
18 X::::::::::.X...OO.OO.OO............OO.OO.OO...X.::::::::::X
19 X.:::::::::.....O.....OO............OO.....O.....:::::::::.X
20 X.::::::::::::.OO..::..OOO........OOO..::..OO.::::::::::::.X
21 X:::::::::::::.OO.::::...O........O...::::.OO.:::::::::::::X
22 X:::::::::::::..O.:::....O........O....:::.O..:::::::::::::X
23 X:::::::::::::.OO.::..OO.O........O.OO..::.OO.:::::::::::::X
24 X:::::::::::::.OO....OOOOO........OOOOO....OO.:::::::::::::X
25 X:::::::........OOO.OO................OO.OOO........:::::::X
26 X.::::::.OOOOOOOOOO.O..................O.OOOOOOOOOO.::::::.X
27 X:::::...OOOOOOOOO..O..................O..OOOOOOOOO...:::::X
28 X::::..OOOOOOOO.OO.OO..................OO.OO.OOOOOOOO..::::X
29 X......OOOOO.......O....................O.......OOOOO......X
30 X......OOOOO.......O....................O.......OOOOO......X
31 X::::..OOOOOOOO.OO.OO..................OO.OO.OOOOOOOO..::::X
32 X:::::...OOOOOOOOO..O..................O..OOOOOOOOO...:::::X
33 X.::::::.OOOOOOOOOO.O..................O.OOOOOOOOOO.::::::.X
34 X:::::::........OOO.OO................OO.OOO........:::::::X
35 X:::::::::::::.OO....OOOOO........OOOOO....OO.:::::::::::::X
36 X:::::::::::::.OO.::..OO.O........O.OO..::.OO.:::::::::::::X
37 X:::::::::::::..O.:::....O........O....:::.O..:::::::::::::X
38 X:::::::::::::.OO.::::...O........O...::::.OO.:::::::::::::X
39 X.::::::::::::.OO..::..OOO........OOO..::..OO.::::::::::::.X
40 X.:::::::::.....O.....OO............OO.....O.....:::::::::.X
41 X::::::::::.X...OO.OO.OO............OO.OO.OO...X.::::::::::X
42 X:::::::::..X.:..OOOO..O............O..OOOO..:.X..:::::::::X
43 X:::::::::.XX.:.....O..O............O..O.....:.XX.:::::::::X
44 X:::::::::.X....XX....OO....OOOO....OO....XX....X.:::::::::X
45 X:::::::::.X...XX...OOOO.OOOOOOOOOO.OOOO...XX...X.:::::::::X
46 X::....:::.XX..X..:.OOOO.OOOOOOOOOO.OOOO.:..X..XX.:::....::X
47 X...OO.:::..X.XX.::.OO...OOOOOOOOOO...OO.::.XX.X..:::.OO...X
48 X.OOOO.::::.XXX..::..O..OOO......OOO..O..::..XXX.::::.OOOO.X
49 X.OOOO.::::.....::::.OO.OOO.::::.OOO.OO.::::.....::::.OOOO.X
50 X.OO...:::::::::::::..O.....::::.....O..:::::::::::::...OO.X
51 X.OOOO....:::::::::.....::::::::::::.....:::::::::....OOOO.X
52 X.OOOO.OO.:::::::::.OOO..............OOO.:::::::::.OO.OOOO.X
53 X.OOOO..O..::::::::.OOOOOOOOOOOOOOOOOOOO.::::::::..O..OOOO.X
54 X.OOOOO.OO.::::::::.OO....OO....OO....OO.::::::::.OO.OOOOO.X
55 X.OOOOOOOO.::::::::......................::::::::.OOOOOOOO.X
56 X.OOOOOOOO.:::::::::::::............:::::::::::::.OOOOOOOO.X
57 X...OOOOOO.:::::::::::::............:::::::::::::.OOOOOO...X
58 X..........::.....::....................::.....::..........X
59 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

posts
player	i	j	value
-1	26	3	100
-1	26	56	100
-1	33	56	100
-1	33	3	100
-1	4	12	100
-1	4	47	100
-1	55	47	100
-1	55	12	100
-1	24	12	50
-1	24	47	50
-1	35	47	50
-1	35	12	50
-1	8	17	50
-1	8	42	50
-1	51	42	50
-1	51	17	50

units
id	type	player	i	j	life	ori	napalm	parachuters	
1	2	0	5	15	-1	0	30		0
2	2	0	15	5	-1	1	30		0
3	2	1	5	44	-1	0	30		0
4	2	1	15	54	-1	3	30		0
5	2	2	54	44	-1	2	30		0
6	2	2	44	54	-1	3	30		0
7	2	3	54	15	-1	2	30		0
8	2	3	44	5	-1	1	30		0
9	1	0	18	26	100	-1	-1		0
10	1	1	18	33	100	-1	-1		0
11	1	2	41	33	100	-1	-1		0
12	1	3	41	26	100	-1	-1		0
13	1	0	23	3	100	-1	-1		0
14	1	1	23	56	100	-1	-1		0
15	1	2	36	56	100	-1	-1		0
16	1	3	36	3	100	-1	-1		0
17	1	0	4	18	100	-1	-1		0
18	1	1	4	41	100	-1	-1		0
19	1	2	55	41	100	-1	-1		0
20	1	3	55	18	100	-1	-1		0
21	1	0	3	21	100	-1	-1		0
22	1	1	3	38	100	-1	-1		0
23	1	2	56	38	100	-1	-1		0
24	1	3	56	21	100	-1	-1		0
25	1	0	19	9	100	-1	-1		0
26	1	1	19	50	100	-1	-1		0
27	1	2	40	50	100	-1	-1		0
28	1	3	40	9	100	-1	-1		0
29	1	0	18	3	100	-1	-1		0
30	1	1	18	56	100	-1	-1		0
31	1	2	41	56	100	-1	-1		0
32	1	3	41	3	100	-1	-1		0
33	1	0	2	27	100	-1	-1		0
34	1	1	2	32	100	-1	-1		0
35	1	2	57	32	100	-1	-1		0
36	1	3	57	27	100	-1	-1		0
37	1	0	21	6	100	-1	-1		0
38	1	1	21	53	100	-1	-1		0
39	1	2	38	53	100	-1	-1		0
40	1	3	38	6	100	-1	-1		0
41	1	0	27	24	100	-1	-1		0
42	1	1	27	35	100	-1	-1		0
43	1	2	32	35	100	-1	-1		0
44	1	3	32	24	100	-1	-1		0
45	1	0	17	6	100	-1	-1		0
46	1	1	17	53	100	-1	-1		0
47	1	2	42	53	100	-1	-1		0
48	1	3	42	6	100	-1	-1		0
49	1	0	25	27	100	-1	-1		0
50	1	1	25	32	100	-1	-1		0
51	1	2	34	32	100	-1	-1		0
52	1	3	34	27	100	-1	-1		0
53	1	0	10	7	100	-1	-1		0
54	1	1	10	52	100	-1	-1		0
55	1	2	49	52	100	-1	-1		0
56	1	3	49	7	100	-1	-1		0
57	1	0	24	6	100	-1	-1		0
58	1	1	24	53	100	-1	-1		0
59	1	2	35	53	100	-1	-1		0
60	1	3	35	6	100	-1	-1		0
61	1	0	8	25	100	-1	-1		0
62	1	1	8	34	100	-1	-1		0
63	1	2	51	34	100	-1	-1		0
64	1	3	51	25	100	-1	-1		0
65	1	0	14	4	100	-1	-1		0
66	1	1	14	55	100	-1	-1		0
67	1	2	45	55	100	-1	-1		0
68	1	3	45	4	100	-1	-1		0
69	1	0	14	8	100	-1	-1		0
70	1	1	14	51	100	-1	-1		0
71	1	2	45	51	100	-1	-1		0
72	1	3	45	8	100	-1	-1		0
73	1	0	4	15	100	-1	-1		0
74	1	1	4	44	100	-1	-1		0
75	1	2	55	44	100	-1	-1		0
76	1	3	55	15	100	-1	-1		0
77	1	0	22	27	100	-1	-1		0
78	1	1	22	32	100	-1	-1		0
79	1	2	37	32	100	-1	-1		0
80	1	3	37	27	100	-1	-1		0
81	1	0	16	14	100	-1	-1		0
82	1	1	16	45	100	-1	-1		0
83	1	2	43	45	100	-1	-1		0
84	1	3	43	14	100	-1	-1		0
85	1	0	8	10	100	-1	-1		0
86	1	1	8	49	100	-1	-1		0
87	1	2	51	49	100	-1	-1		0
88	1	3	51	10	100	-1	-1		0
-1

fire
rounds	i	j
-1


