ApocalypseNow2018 3.0

FIXED







land
   000000000011111111112222222222333333333344444444445555555555
   012345678901234567890123456789012345678901234567890123456789

00 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
01 X......:::::::::.......::..........::.......:::::::::......X
02 X....::::::::::::.:::::::::......:::::::::.::::::::::::....X
03 X....:::::::....:::::::::::......:::::::::::....:::::::....X
04 X....:::::...OO..::::::::::......::::::::::..OO...:::::....X
05 X........:.OOOO..:::::::::::....:::::::::::..OOOO.:........X
06 X...OOOO...OOOOO..::....::::....::::....::..OOOOO...OOOO...X
07 X.OOOOOOO..OOOOOO....OO.::::....::::.OO....OOOOOO..OOOOOOO.X
08 X.OOOOOOOOOOOOOOOO...OO..::......::..OO...OOOOOOOOOOOOOOOO.X
09 X.OOOOOOOOOOOOOOOO...OOO............OOO...OOOOOOOOOOOOOOOO.X
10 X.OOOOOOOOOOOOO.......OO............OO.......OOOOOOOOOOOOO.X
11 X.......OOO.....X....OOOOOOOOOOOOOOOOOO....X.....OOO.......X
12 X.:::::......X..X...OOOO............OOOO...X..X......:::::.X
13 X.::::::::..XX..XXX.OOOOO..........OOOOO.XXX..XX..::::::::.X
14 X.::::::::.XX.....X.OOOOO..........OOOOO.X.....XX.::::::::.X
15 X.::::::::.X....XXX...OO..::....::..OO...XXX....X.::::::::.X
16 X.::::::::.XX...X...:....:::....:::....:...X...XX.::::::::.X
17 X:::::::::..XX..X.::::::::::....::::::::::.X..XX..:::::::::X
18 X::::::::::..XXXX.:::::::::::..:::::::::::.XXXX..::::::::::X
19 X.::::::::::......:::::::::::..:::::::::::......::::::::::.X
20 X.::::::::::::::::::::::::::::::::::::::::::::::::::::::::.X
21 X::::::::::::::::::::::::::::::::::::::::::::::::::::::::::X
22 X::::::::::::::::::::::::::::::::::::::::::::::::::::::::::X
23 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
24 X::::::::::::::::::::::::::......::::::::::::::::::::::::::X
25 X::::::::::::::::::::::::::......::::::::::::::::::::::::::X
26 X::::::::::::::::::::::::::......::::::::::::::::::::::::::X
27 X::::::::::::::::::::::::::......::::::::::::::::::::::::::X
28 X.:::::::...::::::::::::............::::::::::::...:::::::.X
29 X:::::::....::::::::::::............::::::::::::....:::::::X
30 X:::::::....::::::::::::............::::::::::::....:::::::X
31 X.:::::::...::::::::::::............::::::::::::...:::::::.X
32 X::::::::::::::::::::::::::......::::::::::::::::::::::::::X
33 X::::::::::::::::::::::::::......::::::::::::::::::::::::::X
34 X::::::::::::::::::::::::::......::::::::::::::::::::::::::X
35 X::::::::::::::::::::::::::......::::::::::::::::::::::::::X
36 X.::::::::::::::::::::::::::....::::::::::::::::::::::::::.X
37 X::::::::::::::::::::::::::::::::::::::::::::::::::::::::::X
38 X::::::::::::::::::::::::::::::::::::::::::::::::::::::::::X
39 X.::::::::::::::::::::::::::::::::::::::::::::::::::::::::.X
40 X.::::::::::......:::::::::::..:::::::::::......::::::::::.X
41 X::::::::::..XXXX.:::::::::::..:::::::::::.XXXX..::::::::::X
42 X:::::::::..XX..X.::::::::::....::::::::::.X..XX..:::::::::X
43 X.::::::::.XX...X...:....:::....:::....:...X...XX.::::::::.X
44 X.::::::::.X....XXX...OO..::....::..OO...XXX....X.::::::::.X
45 X.::::::::.XX.....X.OOOOO..........OOOOO.X.....XX.::::::::.X
46 X.::::::::..XX..XXX.OOOOO..........OOOOO.XXX..XX..::::::::.X
47 X.:::::......X..X...OOOO............OOOO...X..X......:::::.X
48 X.......OOO.....X....OOOOOOOOOOOOOOOOOO....X.....OOO.......X
49 X.OOOOOOOOOOOOO.......OO............OO.......OOOOOOOOOOOOO.X
50 X.OOOOOOOOOOOOOOOO...OOO............OOO...OOOOOOOOOOOOOOOO.X
51 X.OOOOOOOOOOOOOOOO...OO..::......::..OO...OOOOOOOOOOOOOOOO.X
52 X.OOOOOOO..OOOOOO....OO.::::....::::.OO....OOOOOO..OOOOOOO.X
53 X...OOOO...OOOOO..::....::::....::::....::..OOOOO...OOOO...X
54 X........:.OOOO..:::::::::::....:::::::::::..OOOO.:........X
55 X....:::::...OO..::::::::::......::::::::::..OO...:::::....X
56 X....:::::::....:::::::::::......:::::::::::....:::::::....X
57 X....::::::::::::.:::::::::......:::::::::.::::::::::::....X
58 X......:::::::::.......::..........::.......:::::::::......X
59 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

posts
player	i	j	value
-1	20	15	100
-1	20	44	100
-1	39	44	100
-1	39	15	100
-1	26	18	100
-1	26	41	100
-1	33	41	100
-1	33	18	100
-1	25	7	50
-1	25	52	50
-1	34	52	50
-1	34	7	50
-1	25	2	50
-1	25	57	50
-1	34	57	50
-1	34	2	50







units
id	type	player	i	j	life	ori	napalm	parachuters	
1	2	0	5	15	-1	0	30		0
2	2	0	15	5	-1	1	30		0
3	2	1	5	44	-1	0	30		0
4	2	1	15	54	-1	3	30		0
5	2	2	54	44	-1	2	30		0
6	2	2	44	54	-1	3	30		0
7	2	3	54	15	-1	2	30		0
8	2	3	44	5	-1	1	30		0
9	1	0	24	21	100	-1	-1		0
10	1	1	24	38	100	-1	-1		0
11	1	2	35	38	100	-1	-1		0
12	1	3	35	21	100	-1	-1		0
13	1	0	23	17	100	-1	-1		0
14	1	1	23	42	100	-1	-1		0
15	1	2	36	42	100	-1	-1		0
16	1	3	36	17	100	-1	-1		0
17	1	0	3	7	100	-1	-1		0
18	1	1	3	52	100	-1	-1		0
19	1	2	56	52	100	-1	-1		0
20	1	3	56	7	100	-1	-1		0
21	1	0	27	22	100	-1	-1		0
22	1	1	27	37	100	-1	-1		0
23	1	2	32	37	100	-1	-1		0
24	1	3	32	22	100	-1	-1		0
25	1	0	19	5	100	-1	-1		0
26	1	1	19	54	100	-1	-1		0
27	1	2	40	54	100	-1	-1		0
28	1	3	40	5	100	-1	-1		0
29	1	0	27	26	100	-1	-1		0
30	1	1	27	33	100	-1	-1		0
31	1	2	32	33	100	-1	-1		0
32	1	3	32	26	100	-1	-1		0
33	1	0	21	9	100	-1	-1		0
34	1	1	21	50	100	-1	-1		0
35	1	2	38	50	100	-1	-1		0
36	1	3	38	9	100	-1	-1		0
37	1	0	4	16	100	-1	-1		0
38	1	1	4	43	100	-1	-1		0
39	1	2	55	43	100	-1	-1		0
40	1	3	55	16	100	-1	-1		0
41	1	0	7	25	100	-1	-1		0
42	1	1	7	34	100	-1	-1		0
43	1	2	52	34	100	-1	-1		0
44	1	3	52	25	100	-1	-1		0
45	1	0	25	10	100	-1	-1		0
46	1	1	25	49	100	-1	-1		0
47	1	2	34	49	100	-1	-1		0
48	1	3	34	10	100	-1	-1		0
49	1	0	2	27	100	-1	-1		0
50	1	1	2	32	100	-1	-1		0
51	1	2	57	32	100	-1	-1		0
52	1	3	57	27	100	-1	-1		0
53	1	0	22	26	100	-1	-1		0
54	1	1	22	33	100	-1	-1		0
55	1	2	37	33	100	-1	-1		0
56	1	3	37	26	100	-1	-1		0
57	1	0	17	18	100	-1	-1		0
58	1	1	17	41	100	-1	-1		0
59	1	2	42	41	100	-1	-1		0
60	1	3	42	18	100	-1	-1		0
61	1	0	16	7	100	-1	-1		0
62	1	1	16	52	100	-1	-1		0
63	1	2	43	52	100	-1	-1		0
64	1	3	43	7	100	-1	-1		0
65	1	0	18	24	100	-1	-1		0
66	1	1	18	35	100	-1	-1		0
67	1	2	41	35	100	-1	-1		0
68	1	3	41	24	100	-1	-1		0
69	1	0	2	13	100	-1	-1		0
70	1	1	2	46	100	-1	-1		0
71	1	2	57	46	100	-1	-1		0
72	1	3	57	13	100	-1	-1		0
73	1	0	22	12	100	-1	-1		0
74	1	1	22	47	100	-1	-1		0
75	1	2	37	47	100	-1	-1		0
76	1	3	37	12	100	-1	-1		0
77	1	0	12	6	100	-1	-1		0
78	1	1	12	53	100	-1	-1		0
79	1	2	47	53	100	-1	-1		0
80	1	3	47	6	100	-1	-1		0
81	1	0	3	23	100	-1	-1		0
82	1	1	3	36	100	-1	-1		0
83	1	2	56	36	100	-1	-1		0
84	1	3	56	23	100	-1	-1		0
85	1	0	19	21	100	-1	-1		0
86	1	1	19	38	100	-1	-1		0
87	1	2	40	38	100	-1	-1		0
88	1	3	40	21	100	-1	-1		0
-1

fire
rounds	i	j
-1


